.text-field {
    margin-bottom: 51px;
    display: inline-block;
}

.word {
    float: left;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
}

.word:hover {
    box-shadow: 0px 0px 3px #000;
    background-color: #e4e4e4;
}

.word.punctuation {
    margin-left: -14px;
    pointer-events: none;
}

.word.not-found {
    /* opacity: 0.6; */
    font-style: italic;
    pointer-events: none;
}

#input-field {
    position: fixed;
    bottom: 14px;
    font-size: 25px;
    font-family: inherit;
}

#notes {
    font-size: smaller;
    position: fixed;
    bottom: 5px;
    right: 5px;
    background: linear-gradient(rgba(231, 223, 205, 0.822), rgb(245, 241, 230));
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    max-width: 200px;
    border-radius: 7px;
    padding: 7px;
}